@model IEnumerable<SitPlanner.Models.Table>

@{
    ViewData["Title"] = "Index";
}
@section scripts
    {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        var TeamDetailPostBackURL = '/Tables/Create';
        $(function () {
            $("#createtable").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });
    </script>
    <script>
        var TableDeletePostBackURL = '/Tables/';
        $(function () {
            $(":button")
                .click(function () {

                    var $buttonClicked = $(this);
                    var action = $buttonClicked.attr('id');
                    var possibleActions = ['Delete', 'Edit', 'Details'];
                    if (possibleActions.indexOf(action) < 0) {
                        return;
                    }
                    var id = $buttonClicked.attr('data-id');
                    var options = { keyboard: true };
                    $.ajax({
                        type: "GET",
                        url: TableDeletePostBackURL + action + "/" + $buttonClicked.val().toString(),
                        contentType: "application/json; charset=utf-8",
                        data: { "Id": id },
                        datatype: "json",
                        success: function (data) {
                            $('#myModalContent').html(data);
                            $('#myModal').modal(options);
                            $('#myModal').modal('show');

                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });
    </script>
    <script>
        function filter() {
            var val = document.getElementById("input-h").value;

            window.location.href = "https://" + window.location.host + window.location.pathname + '?id=' + val;
            return false;
        }
    </script>
}

<br>
<h2 style="color:#F3969A">Tables</h2>

<p>
    <button style="border-radius: 12px; border: 1px solid #56CC9D;background-color: #fff;" id="createtable"><i class="fa fa-plus" aria-hidden="true"></i> Table</button>

</p>
<div id="filter-blog">
    <input id="input-h" type="search" name="id" maxlength="20" placeholder="  Filter by table number" style="width:205px;width: 17%; border-radius: 12px; border: 2px solid #F3969A;background-color: #fff;">
    <button style="border: 0px ;background-color: #fff;" id="btn-filter" type="submit" onclick="filter()"><i class="fa fa-search" aria-hidden="true"></i></button>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Table Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapacityOfPeople)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CapacityOfPeople)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TableType)
                </td>
                <td>
                    <button style="border-radius: 12px; border: 0px ;background-color: #fff;" id="Edit" value="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button style="border-radius: 12px; border: 0px ;background-color: #fff;" id="Details" value="@item.Id"><i class="fa fa-info" aria-hidden="true"></i></button>
                    <button style="border-radius: 12px; border: 0px ;background-color: #fff;" id="Delete" value="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i></button>

                </td>
            </tr>
        }
    </tbody>
</table>
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content" style="width:700">
            <div id='myModalContent' style="width: auto;margin-left: 50px;"></div>
        </div>
    </div>
</div>
