@model IEnumerable<SitPlanner.Models.Event>

@{
    ViewData["Title"] = "Events";
}
@section scripts
    {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        var TeamDetailPostBackURL = '/Events/Create';
        $(function () {
            $("#createevent").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').fadeIn('slow');
                        $('#myModal').modal(options);

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });
    </script>
    <script>
        var EventDeletePostBackURL = '/Events/';
        $(function () {
            $(":button")
                .click(function () {

                    var $buttonClicked = $(this);
                    var action = $buttonClicked.attr('id');
                    var possibleActions = ['Delete', 'Edit', 'Details'];
                    if (possibleActions.indexOf(action) < 0) {
                        return;
                    }
                    var id = $buttonClicked.attr('data-id');
                    var options = { keyboard: true };
                    $.ajax({
                        type: "GET",
                        url: EventDeletePostBackURL + action + "/" + $buttonClicked.val().toString(),
                        contentType: "application/json; charset=utf-8",
                        data: { "Id": id },
                        datatype: "json",
                        success: function (data) {
                            $('#myModalContent').html(data);
                            $('#myModal').fadeIn('slow');
                            $('#myModal').modal(options);

                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });
    </script>
}
    <div class="fade-in">
        </br>
        <h2 style="color:#F3969A">Events</h2>

        <p>
            <button style="border-radius: 12px; border: 1px solid #56CC9D;background-color: #fff;" id="createevent"><i class="fa fa-plus" aria-hidden="true"></i> Event</button>

        </p>

        <div class="row fadeIn" id="productAdd">

            <span class="glyphicon glyphicon-plus"></span>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @*<button style="border-radius: 12px; border: 0px ;background-color: #fff;" id="Edit" value="@item.Id"><i class="fa fa-folder-open" aria-hidden="true"></i></button>*@
                            <button style="border-radius: 12px; border: 0px ;background-color: #fff;" id="Details" value="@item.Id"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i></button>
                            <button style="border-radius: 12px; border: 0px ;background-color: #fff;" id="Delete" value="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i></button>

                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div id='myModal' class='modal'>
            <div class="modal-dialog">
                <div class="modal-content" style="width:700">
                    <div id='myModalContent' style="width: auto;margin-left: 50px;"></div>
                </div>
            </div>

        </div>
        </div>