@model SitPlanner.Models.PersonalRestriction

@{
    ViewData["Title"] = "Delete";
}

<div style="font-family: cursive">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <br />
    <h2 style="color:#F3969A">Delete Personal Restriction</h2>
    <hr />
    <h3 style="color:#5b8d7f; text-align: center; font-size:1.1rem;">Are you sure you want to delete the following restriction?</h3>
    <div>
        <dl style="color:#56CC9D;" class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MainInvitee)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MainInvitee.FullName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SecondaryInvitee)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SecondaryInvitee.FullName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IsSittingTogether)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsSittingTogether)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Event)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Event.Name)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-default" style="background-color:#b22d38; font-family: cursive" />
            </div>
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>
