@model SitPlanner.Models.PersonalRestriction

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PersonalRestriction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MainInvitee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MainInvitee.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SecondaryInvitee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SecondaryInvitee.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsSittingTogether)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsSittingTogether)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventOption)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventOption.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
