@model SitPlanner.Models.AccessibilityRestriction

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AccessibilityRestriction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Invitee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Invitee.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TableType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TableType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Table)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Table.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsSittingAtTable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsSittingAtTable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
