@model IEnumerable<SitPlanner.Models.AccessibilityRestriction>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invitee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Table)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSittingAtTable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventOption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Invitee.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Table.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSittingAtTable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventOption.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
