@model List<IGrouping<int, InviteeTable>>

@{
    ViewData["Title"] = "Index";
    @ViewBag.Message
}

<link rel="stylesheet" href="~/css/tables.css" type="text/css" />


@section scripts
    {

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        var TeamDetailPostBackURL = '/InviteeTables/Create';
        $(function () {
            $("#createinviteetable").click(function () {

                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });
    </script>



    <script>
        var RunAlgoURL = '/InviteeTables/RunAlgo';
        $(function () {
            $("#runalgoinviteetable").click(function () {

                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { keyboard: true };
                $.ajax({
                    type: "GET",
                    url: RunAlgoURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        window.location.href = "https://" + window.location.host + window.location.pathname + '?id=' + data;
                    },
                    error: function () {
                        alert("You supplied invalid data. Please check again if you have enough seats to all of your invitees.");
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });
    </script>

    <script>
        var InviteeTablesDeletePostBackURL = '/InviteeTables/';
        $(function () {
            $(":button")
                .click(function () {

                    var $buttonClicked = $(this);
                    var action = $buttonClicked.attr('id');
                    var possibleActions = ['Delete', 'Edit', 'Details'];
                    if (possibleActions.indexOf(action) < 0) {
                        return;
                    }
                    var id = $buttonClicked.attr('data-id');
                    var options = { keyboard: true };
                    $.ajax({
                        type: "GET",
                        url: InviteeTablesDeletePostBackURL + action + "/" + $buttonClicked.val().toString(),
                        contentType: "application/json; charset=utf-8",
                        data: { "Id": id },
                        datatype: "json",
                        success: function (data) {
                            $('#myModalContent').html(data);
                            $('#myModal').modal(options);
                            $('#myModal').modal('show');

                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });
    </script>

    <script>
        var EventOptionPostBackURL = '/EventOptions/Delete/';
        $(function () {
            $("#deleteEventOption").click(function () {
                var e = document.getElementById("Opts");
                var id = e.options[e.selectedIndex].value;
                $.ajax({
                    type: "POST",
                    url: EventOptionPostBackURL + id,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        window.location.href = "https://" + window.location.host + window.location.pathname
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });
    </script>

    <script>
        var EventOptionFavoritePostBackURL = '/InviteeTables/SetFavorite/';
        $(function () {
            $("#setFavoriteEventOption").click(function () {
                var e = document.getElementById("Opts");
                var id = e.options[e.selectedIndex].value;
                $.ajax({
                    type: "POST",
                    url: EventOptionFavoritePostBackURL + id,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        location.reload();
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });
    </script>
}

<script>
    function filter() {
        var e = document.getElementById("Opts");
        var val = e.options[e.selectedIndex].value;

        window.location.href = "https://" + window.location.host + window.location.pathname + '?id=' + val;
        return false;
    }
</script>

<script>
    function getOptionId() {
        return document.getElementById("Opts");
    }
</script>

</br>
<h3 style="color:#F3969A">Table Arrangment</h3>

<div id="filter-blog">
    <label>Choose your draft:</label> <br />
    <div style="display: flex">
        @Html.DropDownList("Opts", ViewBag.Opts as SelectList, new { onchange = "filter()", @class = "form-control", style = "width: 10%; border-radius: 12px; border: 2px solid #56CC9D;background-color: #fff;" })
        <button style="border: 0px ;background-color: #fff;" id="setFavoriteEventOption">
            @if (ViewBag.isFavorite)
            {
                <i class="fa fa-star fa-2x" style="color: gold" aria-hidden="true"></i>
            }
            else
            {
                <i class="fa fa-star-o fa-2x" style="color: gold" aria-hidden="true"></i>
            }
        </button>
    </div>
    <br />

    <input id="input-h" type="search" name="id" maxlength="20" placeholder="  Filter by name" style="width:205px;width: 12%; border-radius: 12px; border: 1px solid #F3969A;background-color: #fff;">
    <button style="border: 0px ;background-color: #fff;" id="btn-filter" type="submit" onclick="filter()"><i class="fa fa-search" aria-hidden="true"></i></button>
</div>


<p>
    <div style="float: right">
        <button style="border-radius: 12px; border: 4px solid #F3969A;background-color: #fff;" id="runalgoinviteetable">
            <i class="fa fa-users" aria-hidden="true"></i> SeatMe :)
        </button>
        <button style="border-radius: 12px; border: 4px solid #b22d38;background-color: #fff;" id="deleteEventOption"><i class="fa fa-trash" aria-hidden="true"></i> Arrangement</button>
    </div>
</p>
<div class="tables-container" style="display:flex;">

    @foreach (var invtable in Model)
    {
        int invtableCounter = invtable.Count();
        if (invtableCounter <= 10)
        {
            string tableClass = "10";
            <br />
            // <h2 style="color:#56CC9D">Table @invtable.Key</h2>


            <div style="position: relative" class="table-container-@tableClass">
                <img width="300" height="300" src="~/images/Table-@tableClass-.png" />
                <div class="position-middle-@tableClass ">
                    @invtable.Key
                </div>

                @{
                    int counter = 0;
                }

                @foreach (var item in invtable)
                {
                    <div class="guest-@tableClass-@counter">
                        @invtable.ElementAt(counter).Invitee.FirstName <br />@invtable.ElementAt(counter).Invitee.LastName
                    </div>
                    counter++;

                }

            </div>

        }

        if (invtableCounter > 10 && invtableCounter <= 12)
        {
            string tableClass = "12";
            <br />
            // <h2 style="color:#56CC9D">Table @invtable.Key</h2>


            <div style="position: relative" class="table-container-@tableClass">
                <img width="300" height="300" src="~/images/Table-@tableClass-.png" />
                <div class="position-middle-@tableClass ">
                    @invtable.Key
                </div>

                @{
                    int counter = 0;
                }

                @foreach (var item in invtable)
                {
                    <div class="guest-@tableClass-@counter">
                        @invtable.ElementAt(counter).Invitee.FirstName <br />@invtable.ElementAt(counter).Invitee.LastName
                    </div>
                    counter++;

                }

            </div>

        }
        if (invtableCounter > 12 && invtableCounter <= 16 || true)
        {
            string tableClass = "16";
            <br />
            // <h2 style="color:#56CC9D">Table @invtable.Key</h2>


            <div style="position: relative" class="table-container-@tableClass">
                <img width="400" height="300" src="~/images/Table-@tableClass-.png" />
                <div class="position-middle-@tableClass ">
                    @invtable.Key
                </div>

                @{
                    int counter = 0;
                }

                @foreach (var item in invtable)
                {
                    <div class="guest-@tableClass-@counter">
                        @invtable.ElementAt(counter).Invitee.FirstName <br />@invtable.ElementAt(counter).Invitee.LastName
                    </div>
                    counter++;

                }

            </div>

        }
        else
        {
            <br />
            <h2 style="color:#56CC9D">Table @invtable.Key</h2>
            <table style="border-radius: 12px; border: 2px solid #56CC9D;background-color: #fff;" class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Category
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in invtable)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Invitee.FirstName) @Html.DisplayFor(modelItem => item.Invitee.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Invitee.Category.Name)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
    <div id='myModal' class='modal'>
        <div class="modal-dialog">
            <div class="modal-content" style="width:700">
                <div id='myModalContent' style="width: auto;margin-left: 50px;"></div>
            </div>
        </div>
    </div>



</div>
