@model List<IGrouping<int, InviteeTable>>

@{
    ViewData["Title"] = "Index";
    @ViewBag.Message
}

@section scripts
    {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        var TeamDetailPostBackURL = '/InviteeTables/Create';
        $(function () {
            $("#createinviteetable").click(function () {

                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });
    </script>

    <script>
        var RunAlgoURL = '/InviteeTables/RunAlgo';
        $(function () {
            $("#runalgoinviteetable").click(function () {

                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { keyboard: true };
                $.ajax({
                    type: "GET",
                    url: RunAlgoURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        window.location.reload(true); 
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });
    </script>

    <script>
        var InviteeTablesDeletePostBackURL = '/InviteeTables/';
        $(function () {
            $(":button")
                .click(function () {

                    var $buttonClicked = $(this);
                    var action = $buttonClicked.attr('id');
                    var possibleActions = ['Delete', 'Edit', 'Details'];
                    if (possibleActions.indexOf(action) < 0) {
                        return;
                    }
                    var id = $buttonClicked.attr('data-id');
                    var options = { keyboard: true };
                    $.ajax({
                        type: "GET",
                        url: InviteeTablesDeletePostBackURL + action + "/" + $buttonClicked.val().toString(),
                        contentType: "application/json; charset=utf-8",
                        data: { "Id": id },
                        datatype: "json",
                        success: function (data) {
                            $('#myModalContent').html(data);
                            $('#myModal').modal(options);
                            $('#myModal').modal('show');

                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });
    </script>


    <script>
        var EventOptionPostBackURL = '/EventOptions/Delete';
        $(function () {
            $("#deleteEventOption").click(function () {
                var $buttonClicked = $(this);
                var e = document.getElementById("Opts");
                var id = e.options[e.selectedIndex].value;;
                var options = { keyboard: true };
                $.ajax({
                    type: "GET",
                    url: EventOptionPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });
    </script>
}
<script>
    function filter() {
        var e = document.getElementById("Opts");
        var val = e.options[e.selectedIndex].value;
  
        window.location.href = "https://" + window.location.host + window.location.pathname + '?id=' + val;
        return false;
    }
</script>

    </br>
<h3 style="color:#F3969A">Table Arrangment</h3>

<div id="filter-blog">
    @using (Html.BeginForm("Index", "InviteeTables", FormMethod.Post))
    {
        <label>Choose your draft:</label> <br />
        @Html.DropDownList("Opts", ViewBag.Opts as SelectList, new {onchange= "filter()", @class = "form-control", style = "width: 10%; border-radius: 12px; border: 2px solid #56CC9D;background-color: #fff;" })

        <br />
        <input id="input-h" type="search" name="id" maxlength="20" placeholder="Enter Option ID" style="width:205px;">
        <input id="btn-filter" type="submit" value="Search">
    }
</div>
<p>
    <div style="float: right">
        <button style="border-radius: 12px; border: 4px solid #F3969A;background-color: #fff;" id="runalgoinviteetable">SeatMe :)</button>
        <button style="border-radius: 12px; border: 4px solid #b22d38;background-color: #fff;" id="deleteEventOption">Delete Current Arrangement</button>
    </div>
</p>
@foreach (var invtable in Model)
{
    <br />
    <h2 style="color:#56CC9D">Table @invtable.Key</h2>
    <table style="border-radius: 12px; border: 2px solid #56CC9D;background-color: #fff;" class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Category
                </th>
                <th>
                    Event Option
                </th>
                <th>
                    Event
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in invtable)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Invitee.FirstName) @Html.DisplayFor(modelItem => item.Invitee.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Invitee.Category.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.EventOption.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Event.Name)
                    </td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content" style="width:700">
            <div id='myModalContent' style="width: auto;margin-left: 50px;"></div>
        </div>
    </div>
</div>
